.res_ack {
    margin-bottom: 50px;
    margin-top: 80px;
    text-align: center;
}

    .res_ack-desc:last-child {
        margin-bottom: 0;
    }

.discordJPG {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* 設定連結框的寬度 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

    .discordJPG img {
        display: block;
        width: 100%;
        height: auto;
    }

    .discordJPG:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
