body {
    background-color: #1d70a2;
}

.res {
    background-color: #173753;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 30px;
    font-family: Arial, sans-serif;
}

    .res h2 {
        color: #7ec9ff;
        margin-bottom: 10px;
        text-align: center;
    }


.res_ack-title {
    color: #0C8BDF;
    font-size: 30px;
    font-style: normal;
}

.res_ack-desc {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    text-align: left;
    text-indent: 2em; /* 開頭空兩格 */
}

.res_btn {
    background-color: #0C8BDF;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px auto 0;
    cursor: pointer;
    display: block;
    transition: background-color 0.2s ease;
}

    .res_btn:hover {
        background-color: #fff;
        color: #0C8BDF;
    }
