body {
    background-color: #E7E2E0;
}

.res {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border: 2px solid #dcf4ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 30px;
    font-family: Arial, sans-serif;
}

    .res h2 {
        color: #C4BEBB;
        margin-bottom: 10px;
        text-align: center;
    }

.res_ack {
    margin-bottom: 20px;
    text-align: center;
}

.res_ack-title {
    color: #A49B98;
    font-size: 30px;
    font-style: normal;
}

.res_ack-desc {
    color: #261438;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    text-align: left;
    text-indent: 2em; /* 開頭空兩格 */
}

    .res_ack-desc:last-child {
        margin-bottom: 0;
    }

.res_btn {
    background-color: #B6B0A8;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px auto 0;
    cursor: pointer;
    display: block;
    transition: background-color 0.2s ease;
}

    .res_btn:hover {
        background-color: #fff;
        color: #B6B0A8;
    }
