body {
    background-color: #c1eb44;
}

.res {
    background-color: #404D39;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border: 2px solid #D2FF57;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 30px;
    font-family: Arial, sans-serif;
}

    .res h2 {
        color: #8BC746;
        margin-bottom: 10px;
        text-align: center;
    }

.res_ack {
    margin-bottom: 20px;
    text-align: center;
}

.res_ack-title {
    color: #D1FF54;
    font-size: 30px;
    font-style: normal;
}

.res_ack-desc {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    text-align: left;
}

    .res_ack-desc:last-child {
        margin-bottom: 0;
    }

.res_btn {
    background-color: #81BB3E;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px auto 0;
    cursor: pointer;
    display: block;
    transition: background-color 0.2s ease;
}

    .res_btn:hover {
        background-color: #fff;
        color: #81BB3E;
    }
