/*首頁*/

.index {
    text-align: center;
    margin-top: 50px;
}

.index_button {
    background-color: #DCC98C;
    color: #01161e;
    padding: 16px 32px;
    border: none;
    border-radius: 50px;
    font-size: 35px;
    margin: 50px;
}

    .index_button:hover {
        background-color: #07384C;
        color: #eff6e0;
    }


.index_desc {
    color: #eff6e0;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: left;
    text-indent: 2em; /* 開頭空兩格 */
    margin: 50px;
}

.index_list {
    color: #caffb9;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: left;
}

/* 設定背景色 */
body {
    background-color: #213944;
}

h1 {
    text-align: center;
    color: #DCC98C;
    font-size: 36px;
}

/* 設定頁面中心化 */
.container {
    max-width: 80%;
    margin: 0 auto;
}

/* 設定表單樣式 */
form {
    max-width: 90%;
    margin: 0 auto;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #01161e;
}

    form img {
        width: 80%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        height: auto;
        border-radius: 10px;
    }

fieldset {
    display: block;
    margin-top:10%;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 4px;
    border-style: dashed;
    border-color: #213944;
    border-image: initial;
}

figure {
    margin: 100px 0;
    text-align: center;
}

    figure img {
        width: 97%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        height: auto;
        border-radius: 20px;
    }

.brk {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #f5dd90;
    letter-spacing: 2px;
    line-height: 1.5;
}

legend {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #DCC98C;
    text-align: center;
}

label {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 30px;
    color: #eff6e0; /*圓鈕上的字*/
}

.question label {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    padding-left: 25px;
}

    .question label input[type="radio"] {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
    }

    .question label span {
        display: block;
        width: 22px;
        height: 22px;
        border: 1px solid #598392; /* 圓框 */
        border-radius: 50%;
        background-color: #124559; /* 圓底色 */
        line-height: 22px; /* 設置和圓形按鈕的高度一樣 */
        text-align: center; /* 水平居中 */
    }

    .question label input[type="radio"]:checked + span {
        border-color: #DCC98C;
        background-color: #DCC98C;
    }

        .question label input[type="radio"]:checked + span::before {
            content: '';
            display: block;
            color: #fff;
        }

.question {
    margin-top: 100px;
    color: #eff6e0; /*題目顏色*/
    font-size: 22px;
}

.qa {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

/*第二大題*/

.choice-questions p {
    margin: 50px 0;
    font-size: 22px;
    color: #eff6e0; /*題目顏色*/
}
/* 選項區塊樣式 */
.choice-questions.answer {
    margin-top: 10px;
}

/* 選項的外框樣式 */
.choice-questions label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    line-height: 28px;
    font-family: Arial, sans-serif; /* 使用 Arial 字體或類似字體 */
}


/* 選項文字樣式 */
.choice-questions .option {
    display: block;
    margin-bottom: 20px;
}

/* 選項前的圓圈樣式 */
.choice-questions input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* 選項前的圓圈外框樣式 */
.choice-questions .option:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #586ba4;
    background-color: #eff6e0;
}

/* 選項選中時的圓圈樣式 */
.choice-questions input[type="radio"]:checked + .option:before {
    border-color: #DCC98C;
    background-color: #DCC98C;
}

/* 選項文字選中時的樣式 */
.choice-questions input[type="radio"]:checked + .option {
    font-weight: bold;
    color: #DCC98C;
}

.choice-questions:not(:first-child) {
    margin-top: 100px;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


button[type="submit"] {
    background-color: #DCC98C;
    color: #01161e;
    padding: 16px 32px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    font-size: 35px;
    display: block;
    margin: auto;
    margin-top: 80px;
}

    button[type="submit"]:hover {
        background-color: #07384C;
        color: #eff6e0;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
        transform: translateY(-2px);
    }

    button[type="submit"]:active {
        transform: translateY(2px);
    }


/* 設定表格樣式 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 30px;
    color: #FAEFDE;
}

th {
    background-color: #213944;
    padding: 10px;
    width: 20%;
}

td {
    background-color: #14252E;
    padding: 10px;
    text-align: center;
}

/* 設定測驗區塊樣式 */
.test {
    background-color: #01161e;
    padding: 40px 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.test-container {
    max-width: 800px;
    margin: 0 auto;
}


.test img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.test-note {
    font-size: 18px;
    color: #DCC98C;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}
/* 設定測驗選擇按鈕樣式 */
.test-cho {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

    .test-cho a {
        background-color: #DCC98C;
        color: #01161e;
        text-decoration: none;
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 5px;
        transition: background-color 0.3s;
    }

        .test-cho a:hover {
            background-color: #01161e;
            color: #DCC98C;
            transition: background-color 0.3s;
        }
